.ImageToData{
	top:40%;
}
.ImageToData img.sucked{
	max-width:550px; max-height:550px;
}
.ImageToData .data{
	height:80px; width:550px;
	margin-bottom: 5px;
}
.ImageToData .get-url{
	width:550px;
	margin-bottom: 5px;
}
.ImageToData .loading{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABq0lEQVQoU11RPUgcURD+Zt/unnrcCf4QIugRMcS7a2xjmmArRlRIFRBFgrVtGgmBRFCwTBoLsQiBGMxiJ4iksLRSFEzQRC2EAwm5g727feP3LpyFy1tm5s33zcz7RnDvG4x0zFgMJRY/jiewhy/w8FKSJkyaTuG7Fumvi+ARbQiLpcMDvH/Qj1S6Bf6vI5SxKPUG4fGm5kMf6wr08MKHILCKldoZlk0OIeuHjNuDBBcNAqvvENTLwKii1ZFoF/7G2PQDpNo8dFUt1AcSGfymz42PVfI8ghxht1bHh9MpucCiegMFdJoUOtSD+MxLPtI5T/GaHWhg+NjRk3G5utPikwb5bjzhq40JSChs6Sx1eOYAojg/fCFv7yvnBLGCLPMqxS2dZrtXnDthhySuYebnpFw3ST2RtmUVIx5z1sIKdX9qgDcOTJAj7WsNa8eTUhrY0Gwqg2FldeZiduH5r9JHvqEDigzDS/4VJvYJfMh9VLmbNO9+s9hNg5D/qjkJ8I6uW0yFtkrwHydCg+AhVgsp/8Pnu00XI+0jYJ7gjANRiEsmQ3aNOXuJhG035i1QA6g+uONCrgAAAABJRU5ErkJggg==);
	height: 12px;width: 12px;
	display: none;
	margin: 15px auto 0;
}
.ImageToData .modal-body{
	max-height: 550px;
	overflow: auto;
}
.ImageToData .btn-file {
    position: relative;
    overflow: hidden;
}
.ImageToData .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/**
 *  Brackets Toolbar Icon Styling
*/
#itd-toolbar {
  background: no-repeat url("../img/ImageToData-Icon.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.75;
}
#itd-toolbar:hover {
  opacity: 0.50;
}
#itd-toolbar.active:hover {
  opacity: 0.75;
}
